---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200

AccessModifierOffset: -4
PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterNamespace: false
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true

BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeColon

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

IndentCaseLabels: false
IndentCaseBlocks: false
IndentPPDirectives: None
PPIndentWidth: -1

NamespaceIndentation: None
FixNamespaceComments: true
CompactNamespaces: false
ShortNamespaceLines: 1

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true

SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: false

Cpp11BracedListStyle: true
Standard: Auto

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: false

InsertNewlineAtEOF: true
LineEnding: DeriveLF
...
